body {
  background-color: #191919;
  color: #FAC213;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
  text-align: center;


}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6.625rem;
  margin-top: 80px;
  padding-top: 3%;
}

h2 {

  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  margin: 0;
  padding: 3% 0 3% 0;

}

h4{
  color: black;
}

p{
  color: black;
}

hr {
  border-style: none;
  border-width: 5px;
  border-top-style: solid;
  color: #191919;
  margin: 0;
  opacity: 100%;



}

a {
  color: #FAC213;
  font-family: "Montserrat", sans-serif;
  margin: 15px;
  text-decoration: none;
}

a:hover {
  color: purple;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 0;
}

/***********Class SELECTORS**********/
.white-section {
  background-color: #fff;
}

/* Navbar */
.navbar {
  background-color: #191919;
}

.nav-brand {
  font-family: "Sacramento" "cursive"
}

.nav-text {
  color: #FAC213;
  padding: 0 35% 0 0;
}
.nav-space{
  padding: 0 0 0 0;
}

/* Title-top */

.TopContainer {
  padding: 10% 0 15% 0;
  position: relative;

}


/* About-Me */
.EmojiHi {
  float: right;
  width: 40%;
}

.MiddleContainer {
  position: relative;
  padding: 3% 0 3% 0
}

.profile {
  margin: 100px auto 100px auto;
  width: 60%;
  padding-bottom: 10%;
  text-align: left;
}

/* skills */
.skills {
  padding-bottom: 20px;
}

.Skills-Heading {
  padding-top: 5%;
}

.skill-row {
  width: 70%;
  margin: 100px auto 200px auto;
  padding: 5% 0 5% 0;
  line-height: 2;
}

.Coding-skills-description {
  text-align: right;
}

.ProgrammingGIF {
  float: left;
  width: 40%;
}

.Web-design-description {
  text-align: left;
}

.WebsiteDesignGif {
  float: right;
  width: 35%;
}

/* Education/Experience*/
.Education-Section {
  padding: 5% 0 5% 0;

}
.Education-Image{
 float: left;
 width: 25%;

}

.Education-Heading {
  padding: 0 0 5% 0;
  text-align: center;
}
.Education-Header{
  text-align: center;
}
.Herbert{
  padding: 7% 3% 7% 3%;

}

.STEM{
  padding: 7% 3% 7% 3%;

}
.University {
  padding: 7% 3% 7% 3%;
}

/* Projects Section */

.carousel-inner{
padding: 5% 10% 5% 10%;
}

.Projects-Heading {
  padding: 5% 0 1% 0;
}

.Projects-Descriptions {
padding: 5% 5% 5% 5%;
}
.Projects-Image{
  width: 80%;
}
.Project-Website-Link {
  font-size: 2rem;
}

/* Contact me */

.contact-me {
  margin: 0 auto 60px auto;
  padding: 5% 0 10% 0;
}

.contactme-heading {
  padding-bottom: 4%;
}
.Contactme-Image{
  padding-top: 5%;
  width: 20%;

}
.Email{
  font-size: 2.5rem;
  padding: 3% 0 0 0;
}
/* Footer  */

.Ayodeji {
  color: inherit;
  font-size: 1.5rem;
  padding-top: 30px;
}

.BottomContainer {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 80px;
}

.footer-link {
  font-size: 3rem;
}
